<div class="carousel-item <%= active %>">
    <a href="/products">
        <img src="<%= image %>" class="d-block w-100" alt="image">
        <div class="carousel-caption d-none d-md-block">
            <h3><%= text%> </h3>
            <p>Can be found in the shop.</p>
        </div>
    </a>
</div>