h1 {
    text-align: center;
    color: green;
}

section{
    min-height: 88vh;
    background-color: lightblue;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    position: absolute;
    bottom: 0;
    background-color: orange;
    padding: 20px;
    text-align: center;
    width: 100%; 
}

.overlay-content button {
    margin-right: 10px; /* Add spacing between buttons */
}

#cookie-overlay {
    z-index: 1234;
}

.message-container {
    background-color: #f0f0f0;
    text-align: center;
    height: 50px; 
    width: 100%; 
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .message {
    font-size: 23px;
    color: black;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: grey;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    height: 100%;
}

.carousel-item h3,
.carousel-item p {
    color: white;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card{
    width: 20rem;
    border: 1px solid #000;
    height: 350px; 
    overflow: hidden; 
    position: relative; 
}

.card-image {
    position: relative;
    height: 50%;
    overflow: hidden;
    text-align: center;
}

.card-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.card-body {
    position: absolute;
    bottom: 0; 
    overflow: hidden;
}

.card-body p{
    max-height: 70px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word; 
    white-space: normal;
}

.card img {
    width: 100%; 
    height: auto; 
}

.productImage {
    width: auto; 
    height: 300px;
    max-height: 300px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* transition: height 2s, max-height 2s;  */
}

.productImage img {
    max-width: 100%; 
    max-height: 100%; 
}

.productImage:hover {
    height: 100%; 
    max-height: 600px; 
}

.menuItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.menuItem:hover {
    background-color: rgba(255, 255, 255, 1);
    border-right: 2px solid lightgreen;
    border-left: 2px solid lightgreen;
    border-bottom: 2px solid lightgreen;
}

.selectedMenu {
    border-right: 3px solid green;
    border-left: 3px solid green;
    border-bottom: 3px solid green;
}

.selectedMenu:hover {
    border-right: 3px solid green;
    border-left: 3px solid green;
    border-bottom: 3px solid green;
    background-color: rgba(255, 255, 255, 0.8);
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px dotted black;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    min-height: 300px;
    margin-bottom: 20px;
}

#quote-display {
    margin-top: 10px; /* Add some space above the quote */
}

.quote-text {
    font-size: 18px; /* Adjust font size as needed */
    margin-bottom: 5px; /* Add some space below the quote text */
}

.author-text {
    font-style: italic; /* Make the author text italic */
    text-align: right; /* Align the author text to the right */
}

.flexcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexcont .card {
    min-width: 200px;
    flex-basis: 22%;
    margin: 5px;
}

#image-table{
    margin: 0 auto; 
}

td{
    position: relative;
    margin: 25px;
}

td img{
    height: 300px;
    width: 300px;
}

td p{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 5px;
}

p.notsupport,
ul.notsupport li {
    color: red;
}

.hidden{
    display: none;
}