<%- include('header') %>

    <h1>About this website!</h1>

    <p>I am very bad at designing and creative thinking. That is why Some required tasks are just done without attaching
        to base flow.</p>
    <p>The Site has the following modules:</p>
    <ul>
        <li>Home page where you can see a carousel of categories.</li>
        <li>Product page where short display of products is listed</li>
        <li>Product detailed view with a more specific description.</li>
        <li>Form to buy a product <span>(only one product at a time) </span></li>
        <li>The page where most popular products are stored in form of a table and most used user names to buy products
        </li>
        <li>The page that shows an example of display: flex</li>
        <li>This about page.</li>
    </ul>

    <p class="notsupport">The Site does not support:</p>
    <ul class="notsupport">
        <li>Login or registration.</li>
        <li>Buying more than one product at a time</li>
        <li>Price display</li>
    </ul>

    <a id="clearCookie" class="btn btn-danger" onclick="clearCookie('cookieConsent')">T: Press this to clear cookie consent</a>
    <%- include('footer') %>