<%- include('header') %>

    <h1>This page contains stuff that must be included in excersises, but I don't know where to use it.</h1>

    <div class="flexcont">
        <div class="card" style="width: 18rem;">
            <img src="/images/belt.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">View product</a>
                <a href="#" class="btn btn-success">Buy Product</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/images/belt.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card'sSome quick example text to build on the card title and make up the bulk of the
                    content.</p>
                <a href="#" class="btn btn-primary">View product</a>
                <a href="#" class="btn btn-success">Buy Product</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/images/belt.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">View product</a>
                <a href="#" class="btn btn-success">Buy Product</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/images/belt.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">View product</a>
                <a href="#" class="btn btn-success">Buy Product</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/images/belt.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">View product</a>
                <a href="#" class="btn btn-success">Buy Product</a>
            </div>
        </div>

    </div>


    <%- include('footer') %>