<%- include('header') %>

    <h1>Welcome to product page</h1>
    <div class="container">
        <div class="row">
            <% products.forEach(product => { %>
                <%- include('parts/product', product) %>
            <% }); %>
        </div>
    </div>

    <%- include('footer') %>